.body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size: 17px;
  color: white;
  font-family: "Krub", "Bai Jamjuree"
  , "Chakra Petch";
}

.button{
  width:80%;
  align-self: center;
}
.container{
  width : 80vw;
  align-self: center;
  padding : 2vw 2vw 2vw 2vw;
  margin : 2vw auto 2vw auto;
  background-color: rgba(14, 14, 14, 0.3);
}

.column {
  float: left;
  flex: 50%;
}

.column-3 {
  float: left;
  flex: 33%;
}

.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.nav-item{
  color: rgb(228, 228, 228);
}

.nav-link active{
  background-color: white;
}

.nav-bar {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: white;  
  font-family: "Krub", "Bai Jamjuree" , "Chakra Petch";
}

.nav .nav-pills .nav-item .nav-link{
  background-color: red;
}

.picture{
  width: 250px;
}

.btn-light{
  padding: 10px 50px 10px 50px;
  font-size : 22px;
}

.roundImage{
  border-radius: 50%;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.text-left{
  text-align: left;
}

.frame{
  width:80%;
  height:405px;
  border:0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.BigText{
  font-size: 70px;
  color: rgb(255, 255, 255);
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

btn-light:hover{
  padding: 15px 32px;
  text-align: center;
}